/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #f4f4f4;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
}

p, li, a, ul {
  color: black;
  font-family:georgia, serif;
  text-decoration: none;
  text-align: left;
  display: inline-block;
}

h1 {
  color: darkgreen;
  font-size-adjust: 20px;
  font: 30px bold Georgia, serif;
  text-align: center;
  text-shadow: 20px;
}